body {background-color:#CCCCCC}
body > div  {font-family:'Times New Roman', Times, serif; 
	font-size:92%; 
	padding:10px; 
	max-width: 1000px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top:0px; 
	margin-bottom:16px; 
	background-color:#FFFFFF}
li { margin-top:0.5em;margin-bottom:0.5em;text-align: justify;}
h1 { font-size:1.6em; background-color:#FFFFFF; padding:10px;  color: #000000; text-align:center}
h2 { font-size:1.3em; border-bottom:#000000 1px solid; padding:4px; margin-top:30px; color: #000000; border-radius:0px; width:550px}
h3 { font-size:1.15em; border-bottom:#000000 1px dashed; padding:4px; margin-top:30px; color: #000000; border-radius:0px; width:350px}
p {text-align: justify; }
.googlenet {
	position: absolute;
	clip: rect(24px,224px,200px,0px);
}
.event {
    margin:5px;background-color:#DDDDDD;padding:5px;margin-bottom:10px
}
pre { font-size: 100% ; font-family:'Latin Modern Mono',monospace; background-color: #EAEEFA; border: dashed 1px #777799 !important; }
code { font-size: 100% ; font-family:'Latin Modern Mono',monospace}